apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: fa-assignment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: flask-mongo-app:1.0  # or your DockerHub image
        ports:
        - containerPort: 5000
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongo-root-username
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongo-root-password
        - name: MONGO_HOST
          value: "mongo.fa-assignment.svc.cluster.local"
        - name: MONGO_PORT
          value: "27017"
        - name: MONGO_DB
          value: "flask_db"
        resources:
          requests:
            cpu: "0.2"
            memory: "250Mi"
          limits:
            cpu: "0.5"
            memory: "500Mi"
